<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Web Components</title>
    <script src="tooltip.js"></script>
</head>
<body>
<p><uc-tooltip tooltip-text="web components is a set of standards.">Web components</uc-tooltip> are amazing!</p>
<uc-tooltip>here we go</uc-tooltip>


</body>
</html>